# The URL through which GitLab will be accessed.
external_url "{{ gitlab_external_url }}"
nginx['redirect_http_to_https'] = "{{ gitlab_redirect_http_to_https }}"
nginx['ssl_certificate'] = "{{ gitlab_ssl_certificate }}"
nginx['ssl_certificate_key'] = "{{ gitlab_ssl_certificate_key }}"

gitlab_rails['ldap_enabled'] = "{{ gitlab_ldap_enabled }}"
gitlab_rails['ldap_servers'] = YAML.load_file('/etc/gitlab/ldap_freeipa.yml')
